<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preços</title>
    <style>
        div {
            height: 80vh;
            width: 70vw;
            border: 5px solid black;
            border-radius: 10px;
            margin: 15vh 0 0 15vw;
        }
        
        p {
            font-size: 5vw;
            text-align: center;
            color: blueviolet;
        }

        li {
            font-size: 3vw;
        }

    </style>
</head>
<body>
    <div>
        <p>Preço por unidade dos produtos:</p>
        <ul>
            <li>
                Bolacha : 5
            </li>
            <li>
                Chocolate : 3
            </li>
        </ul>
    </div>
</body>

</html>