<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    
</head>
<body>
    <div>
        <h1>Produtos</h1>
        <ol>

           {% for produto in produtos %}
                <li> {{produto|title}}</li>
           {% endfor %}

        </ol>
    </div>

    <br>

    <h2> Fique ligado na próxima promoção!!!!!</h2>

    {{ data| date:"D d M Y" }}

    <p>O produto mais esperado até agr é {{produtos|random | upper}}</p>

    {% include 'app_fgv/footer.html' %}
</body>
</html>