{% extends 'app_fgv/quantidades-template.html' %}
{% load static %}

{% block header %}
    <title>Quantidades</title>
{% endblock %}

{% block styles %}
    <link rel = 'stylesheet' type = 'text/css' href = '{% static "app_fgv/style.css" %}'>
{% endblock %}

{% block content %}
    <h1>Quantidades</h1>
    Quantidades disponiveis de {{param2}} é {{quantidade}} und.
    <br>

    {% if quantidade < 10 %}
        <p>{{param2|title}} está quase acabando, aproveite enquanto é tempo!</p>
    {% endif %}
{% endblock %}

