{% extends "Aquarela/Aquarela_template.html" %}
{% load static %}

{% block titulo %}
	<title>Aquarela 1</title>
{% endblock %}

{% block estilo %}
	<link rel="stylesheet" type="text/css" href="{% static 'Aquarela/estilos.css' %}">
{% endblock %}

{% block conteudo %}
	<header>
		<h1>Aquarela par 🎨</h1>
	</header>

	<article>
			<h2>Você escolheu o parâmetro {{parametro}}</h2>
			<!--Lorem Ipsum--->
			<p></p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sapien sem, auctor quis dolor ut, ultricies faucibus justo. Etiam finibus, tortor quis molestie malesuada, augue dui ultrices justo, vel suscipit eros risus id ligula. Praesent eget fermentum elit, non varius libero. Aenean pulvinar, neque ac sodales imperdiet, nisi nisl luctus diam, sit amet tempus libero massa vel orci. Morbi tincidunt, ligula vitae varius ultrices, orci turpis pharetra leo, in congue felis augue pulvinar lorem. Sed sit amet purus diam. Curabitur ut posuere magna. Suspendisse mollis euismod lacinia. In porta, nunc id egestas lobortis, mi neque ultricies purus, id tristique sem lorem in dolor. Phasellus felis mauris, pretium at nisl sed, euismod pharetra mauris.</p>
			<p>Nulla nec bibendum enim. Curabitur rhoncus enim vel enim laoreet, sed viverra lectus ultricies. Duis sit amet venenatis nunc. Donec gravida luctus erat, sed maximus lorem. Morbi accumsan odio viverra lacus ullamcorper imperdiet. Proin augue mi, sagittis placerat dictum in, rhoncus volutpat neque. Pellentesque leo ex, elementum sit amet faucibus nec, semper vitae urna. Sed molestie purus ligula, id consequat enim euismod tempus. Cras feugiat sit amet tortor a mattis. Vestibulum ullamcorper imperdiet velit vitae ullamcorper.</p>
			<p>Nunc sit amet massa feugiat, tempus enim nec, congue nulla. Mauris velit ipsum, lacinia vel eleifend eget, elementum eu est. Morbi sodales leo vel libero lacinia, id vestibulum tortor vestibulum. Sed sed nunc non felis tincidunt tempor. Aenean est odio, laoreet sed varius vel, lobortis nec augue. Duis imperdiet sagittis dignissim. Suspendisse potenti. Donec vel vestibulum enim. Proin elementum varius hendrerit. Fusce interdum vel ligula at fermentum. Cras vehicula, dolor vel laoreet blandit, erat lorem dapibus magna, nec gravida nisl felis eget augue.</p>
			<p>Donec fringilla erat scelerisque venenatis imperdiet. Nulla aliquam purus non libero vestibulum, sit amet volutpat enim malesuada. Donec sed tortor mauris. Mauris sed aliquam odio, id dignissim mi. Donec commodo, sem sed condimentum convallis, mi sapien egestas felis, ac sodales augue metus eget nulla. Cras pretium consectetur viverra. Praesent luctus sit amet orci in interdum. Morbi suscipit vel massa gravida aliquam. Sed rutrum in erat eget bibendum. Sed eu dictum dui. Nam nec tellus sit amet metus condimentum aliquet. Praesent in ligula eget tellus porttitor pretium. Maecenas tempor, augue ac vestibulum varius, dui lorem bibendum diam, a cursus magna velit eget dui.</p>
			<p>Morbi pharetra diam vel nunc bibendum, eu tempor dui suscipit. Cras at ipsum odio. Phasellus egestas nisl nisl, eu vehicula sem fermentum sit amet. Ut ac nunc rhoncus, finibus elit nec, sollicitudin leo. Nullam vitae enim magna. Donec finibus libero a neque ullamcorper congue. Duis maximus scelerisque cursus. Duis finibus nec est sagittis porta. Praesent bibendum urna et est volutpat vulputate at a felis. Pellentesque eu enim nec eros pellentesque eleifend. In egestas urna id nisl venenatis feugiat. Donec vitae fermentum turpis, sed luctus enim. Suspendisse id mauris in libero varius rhoncus.</p>
			{% if parametro > 20 %}
				<p>Você escolheu um parâmetro meio grande, né?</p>
			{% else %}
				<p>Você escolheu um parâmetro pequeno, né?</p>
			{% endif %}
			<br>
			<h3>Lista usando loop:</h3>
			<ul>
			{% for cor in cores %}
				<li>{{cor|lower}};</li>
			{% endfor %}
			<li>fim :)</li>
			</ul>
			<br>
			<h3>Lista das cores (que não é bem uma lista):</h3>
			<p>{{cores|join:", "|lower}}</p>
			<h3>Lista da primeira e última cores:</h3>
			<p>{{cores|first|title|add:", "}}{{cores|last|lower}}</p>
			<h3>Uma cor aleatória (EM CAIXA ALTA):</h3>
			<p>{{cores|random|upper}}</p>
	</article>
{% endblock %}