{% extends 'mapp/mapp-template.html' %}
{% load static %}

{% block header %}
    <title>Mapp</title>
{% endblock %}

{% block styles %}
    <link rel = 'stylesheet' href = '{% static "mapp/style.css" %}'>
{% endblock %}

{% block content %}
    <h2><a onclick="JavaScript:Alert()">Mapp</a></h2>
    <p>Marcelo-app, qualquer semelhança com MAp é pura coincidência.</p>
    <ul>
        <p>Alunos registrados:</p>
        {% for aluno in alunos %}
        <li>{{ aluno|safe }}</li>
        {% endfor %}
    </ul>
{% endblock %}

{% block js %}
<script>
    function Alert() {
        alert('Quanta curiosidade!')
    }
</script>
{% endblock %}