{% extends 'mapp/mapp-template.html' %}
{% load static %}

{% block header %}
    <title>Mapp</title>
{% endblock %}

{% block styles %}
    <link rel = 'stylesheet' type = 'text/css' href = '{% static "mapp/style.css" %}'>
{% endblock %}

{% block content %}
    <h2><a onclick="JavaScript:Alert()">Mapp</a></h2>
    <p>Marcelo-app, qualquer semelhança com MAp é pura coincidência.</p>
{% endblock %}

{% block js %}
<script>
    function Alert() {
        alert('Quanta curiosidade!')
    }
</script>
{% endblock %}