{% extends 'mapp/mapp-template.html' %}
{% load static %}

{% block header %}
    <title>Funções</title>
{% endblock %}

{% block styles %}
    <link rel = 'stylesheet' href = '{% static "mapp/style_quadro.css" %}'>
{% endblock %}

{% block content %}
    <div id = 'quadro'>
        <p>Funções disponíveis nesta aplicação:</p>
        <ul>
            <li>
                ∅
            </li>
            <li>
                Nada
            </li>
            <li>
                Mostrar o nome {{ name|title }} e um número aleatório: {{ number }}
            </li>
        </ul>
        {% if number > 50 %}
        O número é maior que 50.
        {% else %}
        O número é menor ou igual a 50.
        {% endif %}
        <p>Filtros usados:</p>
        <ul>
            {% for filter in filters %}
            <li>
                {{ filter|default:'default' }}
            </li>
            {% endfor %}
        </ul>
        Recomendação: {{ url|urlize }} <br>
        Tempo até meu aniversário: {{ date|timeuntil }} <br>
        <a href = "{% url 'mapp-index' %}"> Index </a>
    </div>
{% endblock %}